<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.chen.demo.mappers.AccountMapper">

    <insert id = "insert" useGeneratedKeys = "true" keyProperty = "id" parameterType = "account">
        insert into `account` (<include refid = "base.insertFiled" />, username, password, otherStr)
        values(<include refid = "base.insertValue" />, #{username}, #{password}, #{otherStr})
    </insert>

    <update id = "update" parameterType = "account">
        update `account`
        <set>
            <include refid = "base.update" />
            <if test = "password != null">
                password = #{password},
            </if>
            <if test = "otherStr != null">
                otherStr = #{otherStr}
            </if>
        </set>
        where id = #{id} and <include refid = "base.query"/>
    </update>

    <update id = "delete">
        <include refid = "base.delete"><property name = "tableName" value = "account"/></include>
    </update>

    <select id = "findByID" resultType = "account">
        <include refid = "base.findByID"><property name = "tableName" value = "account"/></include>
    </select>

    <select id = "fetchAll" resultType = "account">
        <include refid = "base.fetchAll"><property name = "tableName" value = "account"/></include>
    </select>

    <select id = "findByUsername" resultType = "account">
        select * from `account` where username = #{username} and <include refid = "base.query"/>
    </select>

</mapper>